
/** comando para armar cuadro**/

h1 {
  border-style: double;
  border-width: 10px;

}

/** comando para centrar**/

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%

}

/**comando para centrar imagen **/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
}


li {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.822)
}



body {
    background-color: #4fc097ea;
  }



  .boton1 {
    text-decoration: none;
    display:inline-block;
    width:99%;
    padding:2 px;
    border: solid rgb(82, 182, 189);
    border-radius:50px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 30px;
    
  }

  .boton1 {
 
    background:black;
    color:white;

  }



ul.a {
    list-style-type: circle;
  }

ul.c {
    list-style-type: square;
  }

legend {
    background-color: rgb(100, 41, 167);
    color: rgb(17, 16, 16);
    padding: 5px 10px;}



    .boton2 {
      text-decoration: none;
      display:inline-block;
      width:99%;
      padding:2 px;
      border: solid rgb(82, 182, 189);
      border-radius:50px;
      text-decoration: none;
      color:rgb(0, 0, 0);
      font-weight: bold;
      transition: all 0.9s;
      text-align: center;
      font-size: 30px;
      
    }
  
    .boton2 {
   
      background:black;
      color:white;
  
    }


fieldset {
        background-color: #884fad;
    
      } 

      

h2 {
        font-weight:bolder;
        color :rgb(37, 33, 33)
      
    }
          

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%
    }

    .myDiv {
      border: 10px outset rgb(18, 213, 219);
      background-color: rgb(142, 46, 161);    
      text-align: center;
    }

    .boton3 {
      text-decoration: none;
      display:inline-block;
      width:99%;
      padding:2 px;
      border: 5px solid rgb(82, 182, 189);
      border-radius:50px;
      text-decoration: none;
      color:rgb(0, 0, 0);
      font-weight: bold;
      transition: all 0.9s;
      text-align: center;
      font-size: 30px;
      
    }
  
    .boton3 {
   
      background:black;
      color:white;
  
    }


    .boton4 {
      text-decoration: none;
      display:inline-block;
      width:99%;
      padding:2 px;
      border: solid rgb(82, 182, 189);
      border-radius:50px;
      text-decoration: none;
      color:rgb(0, 0, 0);
      font-weight: bold;  
      transition: all 0.9s;
      text-align: center;
      font-size: 30px;
      
    }
  
    .boton4 {
   
      background:black;
      color:white;
  
    }
   
    





/** DAR FORMA A TABLA */
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }

/** BORDES TABLA*/    
    td, th {
      border: 5px solid #0e0d0d;
      text-align: left;
      padding: 1px;
    }


    